$primary: #eee
$background: #242424
$background-highlight: #353535
// $primary: #222
// $background: #fbfbfb
// $background-highlight: #fff
$accent: #d65
$accent2: #d76
$primary-light: white
$sidebar: 250px
$title-font: 'Raleway', sans-serif
$body-font: 'Raleway', sans-serif

@mixin card
  // border-radius: 4px
  background-color: $background-highlight
  box-shadow: 2px 2px 4px #0004

@mixin outline
  // border-radius: 4px
  border: 2px solid $primary

a
  color: $primary
  text-decoration: none
  padding-bottom: 1px
  border-bottom: 1px solid
  &:hover
    color: $accent
h3, h2
  margin-bottom: 0.25em
header
  position: fixed
  width: $sidebar
  top: 25vh
  text-align: right
  padding: 0
  margin-left: 2em
  padding-right: 1em
  a
    font-weight: bold
    margin-left: 0.5em

#page
  position: absolute
  left: $sidebar
  margin-top: 8em
  margin-left: 5em
  padding: 5em
  width: auto
  overflow: auto
  right: 0
  align-self: start
  display: flex
  flex-direction: column
  gap: 1em

.entry
  padding: 12px
  $size: 500px
  cursor: pointer
  height: auto
  &:nth-child(2n)
    .entry-title
      flex-direction: row-reverse
      .entry-title-name
        flex-direction: row-reverse
      .entry-title-subtitle
        text-align: right
        float: right
  &:hover
    background-color: $background-highlight
  .entry-title
    width: 100%
    display: flex
    gap: 1em
    align-items: center
    img
      max-height: $size
      max-width: $size
    .entry-title-text
      display: block
      width: 100%
    .entry-title-subtitle
      margin: 0
      // max-width: 20em
    .entry-title-name
      margin-top: 0
      display: flex
      justify-content: space-between
  .entry-expandable
    max-height: 0
    transition: max-height 0.15s ease-out
    overflow-y: hidden
    .entry-links
      margin-top: 0
      display: inline-flex
      flex-direction: column
      align-items: start
      gap: 0.25em
    .entry-gallery
      display: flex
      height: 300px
      gap: 1em
      overflow-x: scroll
  &:not(.entry-expanded)
    .entry-title-subtitle
      max-width: 20em
  &.entry-expanded
    @include card
    .entry-title
      flex-direction: column
      img
        max-width: 100%
      .entry-title-text
        text-align: center
        .entry-title-name
          justify-content: center
          flex-direction: row
          gap: 1em
      .entry-title-subtitle
        text-align: center
        float: initial
    .entry-expandable
      max-height: 100em
      transition: max-height 0.15s ease-in

.tag
  border-radius: 100px
  padding: 4px 10px
  margin-right: 0.25em
  background-color: $accent

:root
  font-family: $body-font, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height: 1.5
  font-weight: 400

  background-color: $background
  color: $primary

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@media (max-width: 1300px)
  header
    position: initial
    width: initial
    text-align: center
  #page
    position: initial
    margin: 0
    left: 0
    padding-top: 1em
